@import "./utils/vars", "./utils/mixins","./components/main", "./components/albums";

body{
    background-color: $main-bg;
}
*{
    list-style-type: none;
    text-decoration: none;
}
p{
    line-height: 43px;
    margin: 0;
}
.container{
    width: 1100px;
    margin: 0 auto;
}