.back-home-btn{
    margin-left: 100px;
}
.albums-nav{
    background-color: $main-bg;
    display: flex;
    gap: 350px;
    height: 150px;
    padding: 50px 0;
    @include bg($url:url('/img/al-header.png'),$position:1300px 10px, $size:contain);
    box-shadow: 6px 6px 6px rgba($color: #000000, $alpha: 1);
}
.title-al{
    text-align: center;
    @include text($family:'Covered By Your Grace', $size:48px, $color:#7C7064, $weight:400);
    text-shadow: 6px 6px 6px rgba($color: #000000, $alpha: 25%);
    margin: 0;
}
.al-main{
    background-color: $dark-brown;
    padding: 100px 0 200px;
}
.al-title{
    @include text($family:"Chau Philomene One", $weight:400, $size:64px, $color:$main-bg);
    margin-top: 0;
}
.al-main-title{
    @include text( $size:96px, $color:$main-bg);
    width: 1100px;
    padding: 15px;
    border-bottom: 3px solid $main-bg;
    margin: 30px 0;
    line-height: 50px;
}
.albums-title{
    @include bg($url:url('/img/album-title.png'),$position:700px bottom, $size:contain);
    margin: 30px 0;
    line-height: 70px;
    height: 150px;
    line-height: 70px;
    padding: 70px 60px;
}
.album-cover{
    position: relative;
    @include bg($url:url('/img/cd.png'), $size:cover, $position:center);
    width: 262px;
    height: 150px;
    & .cover{
        position: relative;
        z-index: 1;
        width:160px ;
        height: 160px;
    }
    & .songList{
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0;
        width:160px ;
        height: 160px;
        transition: transform 0.3s ease;
        border-radius: 25px;
       & p{
            padding: 0;
            margin: 0;
       } 
    }
    &:hover .songList{        
        transform: translateX(130px);       
    }
}
.albums-list{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 100px;
    justify-content: space-evenly;
    &_li{
        width: 400px;
        height: 600px;
        border-radius: 25px;
        padding: 0 45px;
        box-shadow: 10px 10px 4px rgba($color: #000000, $alpha: 25%);
         & .album-title{
            text-align: center;
            margin-bottom: 10px;
        }
        & .album-text{
            text-align: center;
            line-height: 35px;
        }
        & .album-cover{
            width: 262px;
            height: 150px;
            margin: 0 auto 30px;
        }
        transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.05)
            }
    }
    & .firstAl{
        @include bg($url:( 
        linear-gradient(rgba(#FFDB58,0.5), rgba(#FFDB58,0.5)),
        url("/img/firstAl.png")), $position:top, $size:cover);
        & .album-title{
            @include text( $size:48px, $color:#1E1E1E, $weight:800);
        }
        & .album-text{
            @include text( $size:32px, $color:#1E1E1E, $weight:800);
        }
        & .listen-btn{
            border: 3px solid #1E1E1E;
            color:#1E1E1E ;
            &:hover{
                color: #FFDB58;
                border: 3px solid #FFDB58;
            }
        }
        & .cover{
            @include bg($url:url('/img/firstCover.png'), $size:cover, $position:center);
        }
        & .songList{
            padding-top: 5px;
            background-color: rgba($color: #EDD784, $alpha: 0.8);
            & p {
                line-height: 17px;
               @include text( $size:20px, $color:#1E1E1E, $weight:800);
            }
        }
    }
    & .secondAl{
       @include bg($url:( 
       linear-gradient(rgba(#362D2B,0.5), rgba(#362D2B,0.5)),
       url("/img/secondAl.png")), $position:bottom, $size:cover);
       & .album-title{
           margin: 30px 0 20px;
           @include text( $size:48px, $color:#E8E7E8, $weight:800);
           line-height: 35px;
       }
       & .album-text{
           @include text( $size:32px, $color:#E8E7E8, $weight:800);
       }
       & .listen-btn{
           border: 3px solid #E8E7E8;
           margin-top: 40px;
           color:#E8E7E8 ;
            &:hover{
                color: #362D2B;
                border: 3px solid #362D2B;
            }
       }
           & .cover{
            @include bg($url:url('/img/secondCover.png'), $size:cover, $position:center);
        }
        & .songList{
            padding-top: 5px;
            background-color: rgba($color: #362D2B, $alpha: 0.8);
            & p {
                line-height: 15px;
               @include text( $size:20px, $color:#E8E7E8, $weight:800);
            }
        }
    }
    & .thirdAl{
        @include bg($url:( 
        linear-gradient(rgba(#97704F,0.6), rgba(#97704F,0.6)),
        url("/img/thirdAl.png")), $position:(center, center -100px), $size:cover);
        & .album-title{
            margin-top: 40px;
            @include text( $size:48px, $color:#DDCFBF, $weight:800);
        }
        & .album-text{
            @include text( $size:32px, $color:#DDCFBF, $weight:800);
        }
        & .listen-btn{
            border: 3px solid #DDCFBF;
            color: #DDCFBF;
            margin-top: 30px;
             &:hover{
                color: #7C5C41;
                border: 3px solid #7C5C41;
            }
        }
         & .cover{
            @include bg($url:url('/img/thirdCover.png'), $size:cover, $position:center);
        }
        & .songList{
            padding-top: 5px;
            background-color: rgba($color: #684430, $alpha: 0.8);
            & p {
                line-height: 15px;
               @include text( $size:20px, $color:#DDCFBF, $weight:800);
            }
        }
    }
     & .fourthAl{
        @include bg($url:( 
        linear-gradient(rgba(#0F1931,0.6), rgba(#0F1931,0.6)),
        url("/img/fourthAl.png")), $position:(center, center -10px), $size:cover);
        & .album-title{
            margin-top: 40px;
            @include text( $size:48px, $color:#EAE7E1, $weight:800);
        }
        & .album-text{
            @include text( $size:32px, $color:#EAE7E1, $weight:800);
        }
        & .listen-btn{
            border: 3px solid #EAE7E1;
            color: #EAE7E1;
            margin-top: 30px;
             &:hover{
                color: #253864;
                border: 3px solid #253864;
            }
        }
         & .cover{
            @include bg($url:url('/img/fourthCover.png'), $size:cover, $position:center);
        }
        & .songList{
            padding-top: 5px;
            background-color: rgba($color: #094164, $alpha: 0.8);
            & p {
                line-height: 15px;
               @include text( $size:20px, $color:#EAE7E1, $weight:800);
            }
        }
    }
}
.listen-btn{
    display: block;
    width: 260px;
    height: 45px;
    background-color: inherit;
    border: 3px solid #E8E7E8;
    border-radius: 25px;
    @include text($family:'Chelsea Market', $size:16px, $weight:400);
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
}
.singles-cont{
    width: 1000px;
    height: 610px;
    padding: 15px 20px;
    margin: 0 auto;
    background-color: rgba($color: #8C837C, $alpha: 0.5);
    box-shadow: 7px 10px 4px rgba($color: #000000, $alpha: 25%);
    border: none;
    border-radius: 25px;
    padding: 30px 80px 10px;
    height: 610px;
}
.singles-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap:50px;
    margin-bottom: 30px;

    &_li{
        width: 200px;
        height: 192px;
        border: none;
        border-radius: 25px;
        @include text($size:48px, $color:#FBF7F5);
        text-align: center;
        padding: 50px 15px 0;
        box-shadow: 7px 10px 4px rgba($color: #000000, $alpha: 25%);
        transition: transform 0.3s ease;
        &:hover{
            transform:scale(1.05) ;
        }
    }
}
.listenSin{
    display: block;
    width: 700px;
    height: 67px;
    background-color: inherit;
    border: 3px solid #E8E7E8;
    border-radius: 25px;
    @include text($family:'Chelsea Market', $size:36px, $weight:400, $color:#E8E7E8);
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
    transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.05)
            }
}
$icons: "sinFirst", "sinSecond", "sinThird", "sinFourth", "sinFifth", "sinSixth";
    @each $icons-items in $icons{
    .singles-#{$icons-items}{
         @include bg($url:( 
        linear-gradient(rgba(#362D2B,0.5), rgba(#362D2B,0.5)),
        url("/img/#{$icons-items}.png")), $position:(center, center), $size:cover);
    }
}
.al-footer{
    background-color: $main-bg;
    color:$main-bg;
    margin:0;
    & .note{
         p{
           @include text( $weight:400, $size:15px, $color:$dark-brown, $family:"Charmonman"); 
        }
        span{
            @include text( $weight:400, $size:25px, $color:$dark-brown); 
        }
    }
}
.footer-content-al{
    .phrase{
        @include text( $weight:600, $size:30px, $color:$dark-brown);
    }
}