.navigation{
    width: 100%;
    background-color:$dark-brown;
    height: 120px;
    padding: 40px 0;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    li{
        transition: transform 0.3s ease;
         &:hover{
         transform: scale(1.05)
    }
    }
    a {
        @include text($family:"Chelsea Market",$weight:400,$size:30px);
    }
}
.slider{
    width: 100%;
    height: 370px;
    border: 1px solid red;
}
.main-title{
    @include text($family:"Chau Philomene One", $weight:400, $size:64px);
    text-shadow: 0 8px 5px rgba($color: #000000, $alpha: 0.25);
    text-align: center;
}
.sec-title{
        display: inline-block;
        @include text( $weight:800, $size:70px);
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.8);
        width: auto;
        padding-right: 20px;
        margin-bottom: 20px;
}
.text{
    @include text();
    background-color: white;
    padding:15px;
    text-align: justify;
    box-shadow: 0 6px 10px rgba($color: #000000, $alpha: 0.25);
}
.img-div{
    background-color: white;
    padding: 25px 50px;
    box-shadow: 7px 7px 10px rgba($color: #000000, $alpha: 0.25);
}

.homeSec{
    margin-bottom: 70px;
    .sec-title{
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.8);
    }
    .content{
        display: flex;
        gap: 80px;
        margin: 0 10px;
        .img-div{
            width: 500px;
            height: 400px;
        }
        .text{
            width: 1200px;
            height: 350px;
            margin-top: 20px;
        }
    }
}
.danceSec{
    margin-bottom: 70px;
    .content{
        display: flex;
        gap: 150px;
        margin: 0 10px;
        .img-div{
            width: 520px;
            height: 400px;
        }
        .text{
            width: 700px;
            height: 330px;
            margin-top: 30px;
        }
    }
}
.awardsSec{
    margin-bottom: 70px;
    .text-first{
        width: 600px;
        height: 300px;
        margin-top: 20px;
    }
    .img-div-first{
        width: 300px ;
        height:350px ;
        padding: 20px 25px;
    }
    .content{
        display: flex;
        gap: 70px;
    }
     .text-second{
        width: 600px;
        height: 400px;
        margin-top: 30px;
    }
    .img-div-second{
        padding: 20px 30px;
    }
}
.touretteSec{
    margin-bottom: 70px;
    .content{
        display: flex;
        gap: 90px;
        flex-wrap: wrap;
    }
    .text{
        width: 550px;
        height: 250px;
        margin-top: 20px;
    }
    .img-div{
        width: 350px;
        height: 400px;
        padding: 15px 25px;
        margin-top: -20px;
    }
    .link{
        background-color: white;
        padding: 15px 20px;
        text-align: justify;
        box-shadow: 0 6px 10px rgba($color: #000000, $alpha: 0.25);
        width: 300px;
        height: 70px;
        margin-top: -160px;
        a{
            @include text();
            color: $dark-brown;
            &:hover{
                color: #716B69;
            }
        }
    }
}
.supportSec{
    margin-bottom: 70px;
    .sec-title{
        margin-top: 0px;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        row-gap: 0px;
        column-gap: 70px;
    }
    .text-first{
        width:600px ;
        height: 270px;
    }
    .text-second{
        width:500px ;
        height: 200px;
        margin-top: 20px;
    }
    .img-div-first{
        width: 350px;
        height: 400px;
        padding: 10px 40px;
    }
    .img-div-second{
        width: 400px;
        height: 290px;
        padding: 13px 50px;
        margin-top: -100px;
    }
}
.tattoSec{
    margin-bottom: 70px;
    .content{
        display: flex;
        gap: 80px;
    }
    .text{
        width:600px;
        height: 450px;
        ul{
            margin: 0;
            padding: 0;
        }
    }
    .img-div{
        width: 340px;
        height: 340px;
        padding: 20px;
        margin-top: 30px;
    }
}
footer{
    width: 100%;
    height: 200px;
    background-color: $dark-brown;
    @include bg($url:url('/img/footer-img.png'), $position:50px bottom, $size:213px 200px);
    .note{
        width: 500px;
        margin:30px 550px;
        text-align: center;
        p{
           @include text( $weight:400, $size:15px, $color:$main-bg, $family:"Charmonman"); 
        }
        span{
            @include text( $weight:400, $size:25px, $color:$main-bg); 
        }
    }
}
.footer-content{
    display: flex;
    margin-left:600px;
    padding-top: 60px;
    text-align: center;
    gap: 200px;
    .phrase{
        padding-top: 10px;
        @include text( $weight:600, $size:30px, $color:$main-bg);
    }
    .networks{
    display: flex;
    gap: 30px;
}
}