@mixin text($family:"Chathura", $weight:700, $size: 36px, $color:black){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin bg($url, $position, $size, $repeat:no-repeat){
    background-image: $url;
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}